<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
    <div style="margin: 25px auto; padding: 0 20px 30px; max-width: 992px; font-size: 1.5rem; background: #f0f0f0;">
        <div th:if="${user != null}">
            <p>Имя пользователя: <span th:text="${user.getName()}"></span></p>
            <p>Email: <span th:text="${user.getEmail()}"></span></p>
            <div style="border-top: 2px solid #333">
                <a th:href="@{/users/edit(id=${user.getId()})}">
                    <button type="button">Редактировать</button>
                </a>
            </div>
            <form th:method="POST" th:action="@{/users/delete(id=${user.getId()})}">
                <button type="submit">Удалить</button>
            </form>
        </div>
        <div th:if="${user == null}">
            <p>Пользователь не найден.</p>
            <a th:href="@{/users}"><button type="button">Назад</button></a>
        </div>
    </div>

</body>
</html>